---
layout: default
title: Home
---

<div class="posts">
  <h2> Nivel 2 </h2>
    <h3>Presentaciones</h3>
    <ul>
    {% for post in site.categories.presentaciones %}
      <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a> (<date>{{ post.date | date_to_string }}</date>)</li>
    {% endfor %}
    </ul>

    <h3>Guías/Proyectos</h3>
    <ul>
    {% for post in site.categories.guias %}
      <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a> (<date>{{ post.date | date_to_string }}</date>)</li>
    {% endfor %}
    </ul>
</div>
